@{Layout = null;}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Account</title>
	@Styles.Render("~/Autentification/Content/css")
</head>
<body>
	<div class="container">
		<input class="input" type="text" placeholder="Username" />
		<input class="input" type="password" placeholder="Password" />
		<a class="button" href="#">Submit</a>
	</div>
</body>
</html>
